{% extends "base.html" %}
{% block title %}Flasky - {{ user.name }}{% endblock %}
{% block content %}
{% for user in users %}
        <h1><img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=76) }}">&nbsp;&nbsp;
            <font color="#778899" size="6px" face="fantasy">{{ user.name }}</font>
        </h1>
    <div class="page-header">
        <h1><font color="#778899" size="4px">Account: {{ user.email }}</font></h1>
        <h2><td><a href="/explore_detail/{{user.id}}"><button type="button" class="btn btn-primary">Personal Homepage</button></a></td></h2>
    </div>
     {% endfor %}
{% endblock %}
